<!DOCTYPE html>
<html lang="en">

<head>
    <title>KGL-KRYSTAL GEMOLOGICAL LABORATORY</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{{url_for('static',filename='assets/img/apple-icon.png')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='assets/img/favicon.png')}}">
    <!-- Load Require CSS -->
    <link href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Font CSS -->
    <link href="{{url_for('static',filename='assets/css/boxicon.min.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/templatemo.css')}}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/custom.css')}}">


<!--TemplateMo 561 Purple Buzz-->

<!--https://templatemo.com/tm-561-purple-buzz-->


</head>

<body>
<!--     Header-->
    <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" href="/"><img src="{{url_for('static',filename='assets/img/favicon.png')}}"  class="logo_img"></a>

                  <span class="text-dark h1">KGL</span>
                    <!-- <span class="text-primary h1">KGL</span>  -->

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
                <div id="m-nav" class="flex-fill mx-xl-5 mb-2">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">

                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/gemblog">Gemblogs</a>
                        </li>
                        <div class="btn-group me-2" role="group" aria-label="Second group">
                    <a href="/contactmsg"><button type="button" class="btn btn-secondary text-white">Contact Message</button></a>
                </div>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/Education">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/contact">Contact</a>
                        </li>
                    </ul>

                 </div>


                  <button> <a class="nav-link ghost_btn" href="/verify"  id="dropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" >Verify your Report</a></button>


            </div>
        </div>
    </nav>
    <!-- Close Header -->
 <div id="work_single_banner" class="bg-light w-100">
        <div class="container-fluid text-light d-flex justify-content-center align-items-center border-0 rounded-0 p-0 py-5">
            <div class="banner-content col-lg-8 m-lg-auto text-center py-5 px-3">
                <h1 class="banner-heading h2 pb-5 typo-space-line-center">Admin Panel</h1>
                <a href="/logout"><button class="btn banner-button rounded-pill px-md-5 px-4 py-2 radius-0  light-300"> Logout</button></a> <hr>   <a href="/dashboard"><button class="btn banner-button rounded-pill px-md-5 px-4 py-2 radius-0  light-300"> Dashboard</button></a>


            </div>
        </div>
    </div>





<div class="row py-3">
            <div class="col-md-8 m-auto text-left justify-content-center">


              <div class="row">
            <div class="btn-toolbar justify-content-center pb-4" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <a href="/dashboard"><button type="button" class="btn btn-secondary text-white">Gemblogs</button></a>
                </div>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <a href="/editpost/0"><button type="button" class="btn btn-secondary text-white">Add new GemBlog</button></a>
                </div>
                 <div class="btn-group me-2" role="group" aria-label="Second group">
                    <a href="/contactmsg"><button type="button" class="btn btn-secondary text-white">Contact Message</button></a>
                </div>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <a href="/reports"><button type="button" class="btn btn-secondary text-white">Reports</button></a>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <a href="/editreport/0"><button type="button" class="btn btn-secondary text-white">Add new Report</button></a>
                </div>
            </div>
        </div>


<div class="row">
    <div class="btn-toolbar justify-content-center pb-4" role="toolbar" aria-label="Toolbar with button groups">

 <div class="col-lg-8 ">
     <h1>Add/Edit Report</h1>
                <form class="contact-form row " method="post" action="/editreport/{{sno}}" role="form">

                    <div class="col-lg-6 mb-4">
                        <div class="form-floating">

                            <input type="text" class="form-control form-control-lg light-300" value="{{kglab.summary}}" id="summary" name="summary" placeholder="Summary No.">
                            <label for="summary">Summary No.</label>
                        </div>
                    </div><!-- End Input Name -->

                    <div class="col-lg-6 mb-4">
                        <div class="form-floating">
                            <input type="text" class="form-control form-control-lg light-300" value="{{kglab.weight}}" id="weight" name="weight" placeholder="Weight">
                            <label for="weight">Weight</label>
                        </div>
                    </div><!-- End Input Email -->

                    <div class="col-lg-6 mb-4">
                        <div class="form-floating">
                            <input type="text" class="form-control form-control-lg light-300" value="{{kglab.measurement}}" id="measurement" name="measurement" placeholder="Meaurement">
                            <label for="measurement">Measurement</label>
                        </div>
                    </div><!-- End Input Phone -->

                    <div class="col-lg-6 mb-4">
                        <div class="form-floating">
                            <input type="text" class="form-control form-control-lg light-300" value="{{kglab.shape}}" id="shape" name="shape" placeholder="Shape % Cut">
                            <label for="shape">Shape & Cut</label>
                        </div>
                    </div><!-- End Input Company Name -->

                    <div class="col-lg-6 mb-4">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control form-control-lg light-300" value="{{kglab.colour}}" id="colour" name="colour" placeholder="colour">
                            <label for="colour">Colour</label>
                        </div>
                    </div><!-- End Input Subject -->
                    <div class="col-lg-6 mb-4">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control form-control-lg light-300" value="{{kglab.refractiveIndex}}" id="refractiveIndex" name="refractiveIndex" placeholder="Refractive Index">
                            <label for="refractiveIndex">Refractive Index</label>
                        </div>
                    </div>
                    <div class="col-lg mb-4">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control form-control-lg light-300"  value="{{kglab.density}}" id="density" name="density" placeholder="Density">
                            <label for="density">Density</label>
                        </div>
                    </div>
                    <div class="col-lg mb-4">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control form-control-lg light-300" value="{{kglab.magnification}}" id="magnification" name="magnification" placeholder="Magnification">
                            <label for="magnification">Magnification</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control form-control-lg light-300" value="{{kglab.result}}" id="result" name="result" placeholder="Result">
                            <label for="result">Result</label>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 m-auto text-end">
                        <button type="submit" class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

    </div>
        <div class="w-100 bg-primary py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-lg-start text-center text-light light-300">
                            © Copyright 2021 KRYSTAL GEMOLOGICAL LABORATORY. All Rights Reserved.
                        </p>
                    </div>
                    <div class="col-lg-6 col-sm-12">

                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->


    <!-- Bootstrap -->
    <script src="{{url_for('static',filename='assets/js/bootstrap.bundle.min.js')}}"></script>
    <!-- Templatemo -->
    <script src="{{url_for('static',filename='assets/js/templatemo.js')}}"></script>
    <!-- Custom -->
    <script src="{{url_for('static',filename='assets/js/custom.js')}}"></script>

</body>

</html>