{% extends 'base.html' %}


{% block title %}

Education
{% endblock %}





{% block content %}

    <!-- Start pricing -->
    <div class="container-lg py-5">
        <div class="col-md-12 m-auto text-center py-5">
            <h1 class="pricing-header h2 semi-bold-600">Courses</h1>

        </div>


        <div class="row px-lg-3">


            <div class="col-md-4 pb-5 pt-sm-0 mt-5 px-xl-3">
                <div class="pricing-table card h-100 shadow-sm border-0 py-5">
                    <div class="pricing-table-body card-body rounded-pill text-center align-self-center p-md-0">
                        <i class="pricing-table-icon display-3 bx bx-package text-secondary"></i>
                        <h2 class="pricing-table-heading h5 semi-bold-600">INTRODUCTION</h2>

                        <div class="pricing-table-footer pt-5">
                            <a href="#" class="btn rounded-pill px-4 btn-outline-primary light-300">Get Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 pt-sm-0 pt-3 px-xl-3">
                <div class="pricing-table card bg-secondary h-100 card-rounded shadow-sm border-0 py-5">
                    <div class="pricing-table-body card-body text-center text-white align-self-center p-md-0">
                        <i class="pricing-table-icon display-3 bx bx-package text-white py-3"></i>
                        <h2 class="pricing-table-heading h5 semi-bold-600">REGISTRATION</h2>

                        <div class="pricing-table-footer pt-5 pb-2">
                            <a href="/register" class="btn rounded-pill px-4 btn-outline-light light-300">Register</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-4 pb-5 pt-sm-0 mt-5 px-xl-3">
                <div class="pricing-table card h-100 shadow-sm border-0 py-5">
                    <div class="pricing-table-body card-body rounded-pill text-center align-self-center p-md-0">
                        <i class="pricing-table-icon display-3 bx bx-package text-secondary"></i>
                        <h2 class="pricing-table-heading h5 semi-bold-600">SCHEDULE</h2>

                        <div class="pricing-table-footer pt-5">
                            <a href="#" class="btn rounded-pill px-4 btn-outline-primary light-300">Get Now</a>
                        </div>
                    </div>
                </div>
            </div>






        </div>
    </div>
    <!-- End Content -->





    <!-- Start Pricing Horizontal Section -->
    <section class="bg-light pt-sm-0 py-5">
        <div class="container py-5">


            <div class="pricing-horizontal row col-10 m-auto d-flex shadow-sm rounded overflow-hidden bg-white">
                <div class="pricing-horizontal-icon col-md-3 text-center bg-secondary text-light py-4">
                    <i class="display-1 bx bx-package pt-4"></i>
                    <h5 class="h5 semi-bold-600 pb-4 light-300">QUALIFIED DIAMOND SPECIALIST</h5>
                </div>
                <div class="pricing-horizontal-body offset-lg-1 col-md-5 col-lg-4 d-flex align-items-center pl-5 pt-lg-0 pt-4">
                    <ul class="text-left px-4 list-unstyled mb-0 light-300">
                        <li><i class="bx bxs-circle me-2"></i>6 months</li>
                        <li><i class="bx bxs-circle me-2"></i>Certificate</li>
                        <li><i class="bx bxs-circle me-2"></i>Up-comming</li>

                    </ul>
                </div>
                <div class="pricing-horizontal-tag col-md-4 text-center pt-3 d-flex align-items-center">
                    <div class="w-100 light-300">
                        <p>INR 0/year</p>
                        <a href="#" class="btn rounded-pill px-4 btn-outline-primary mb-3">Enroll now</a>
                    </div>
                </div>
            </div>
            <!-- End Pricing Horizontal -->




            <!-- Start Pricing Horizontal -->
            <div class="pricing-horizontal row col-10 m-auto d-flex shadow-sm rounded overflow-hidden my-5 bg-white">
                <div class="pricing-horizontal-icon col-md-3 text-center bg-secondary text-light py-4">
                    <i class="display-1 bx bx-package pt-4"></i>
                    <h5 class="h5 semi-bold-600 pb-4 light-300">QUALIFIED JEWELLERY SPECIALIST  </h5>
                </div>
                <div class="pricing-horizontal-body offset-lg-1 col-md-5 col-lg-4 d-flex align-items-center pl-5 pt-lg-0 pt-4">
                    <ul class="text-left px-4 list-unstyled mb-0 light-300">
                        <li><i class="bx bxs-circle me-2"></i>8 months</li>
                        <li><i class="bx bxs-circle me-2"></i>Certificate</li>
                        <li><i class="bx bxs-circle me-2"></i>Up-comming</li>
                    </ul>
                </div>
                <div class="pricing-horizontal-tag col-md-4 text-center pt-3 d-flex align-items-center">
                    <div class="w-100 light-300">
                        <p>INR 0/year</p>
                        <a href="#" class="btn rounded-pill px-4 btn-outline-primary mb-3">Enroll Now</a>
                    </div>
                </div>
            </div>
            <!-- End Pricing Horizontal -->

            <!-- Start Pricing Horizontal -->
            <div class="pricing-horizontal row col-10 m-auto d-flex shadow-sm rounded overflow-hidden bg-white">
                <div class="pricing-horizontal-icon col-md-3 text-center bg-secondary text-light py-4">
                    <i class="display-1 bx bx-package pt-4"></i>
                    <h5 class="h5 semi-bold-600 pb-4 light-300">ADVANCE DIAMOND GRADING</h5>
                </div>
                <div class="pricing-horizontal-body offset-lg-1 col-md-5 col-lg-4 d-flex align-items-center pl-5 pt-lg-0 pt-4">
                    <ul class="text-left px-4 list-unstyled mb-0 light-300">
                        <li><i class="bx bxs-circle me-2"></i>12 months</li>
                        <li><i class="bx bxs-circle me-2"></i>Certificate</li>
                        <li><i class="bx bxs-circle me-2"></i>Up-comming</li>
                    </ul>
                </div>
                <div class="pricing-horizontal-tag col-md-4 text-center pt-3 d-flex align-items-center">
                    <div class="w-100 light-300">
                        <p>INR 0/year</p>
                        <a href="#" class="btn rounded-pill px-4 btn-outline-primary mb-3">Enroll now</a>
                    </div>
                </div>
            </div>
            <!-- End Pricing Horizontal -->
                  <div class="container py-5">

<div class="pricing-horizontal row col-10 m-auto d-flex shadow-sm rounded overflow-hidden bg-white">
                <div class="pricing-horizontal-icon col-md-3 text-center bg-secondary text-light py-4">
                    <i class="display-1 bx bx-package pt-4"></i>
                    <h5 class="h5 semi-bold-600 pb-4 light-300">PRECIOUS GEMSTONE PROFESSIONAL</h5>
                </div>
                <div class="pricing-horizontal-body offset-lg-1 col-md-5 col-lg-4 d-flex align-items-center pl-5 pt-lg-0 pt-4">
                    <ul class="text-left px-4 list-unstyled mb-0 light-300">
                        <li><i class="bx bxs-circle me-2"></i>8 months</li>
                        <li><i class="bx bxs-circle me-2"></i>Certificate</li>
                        <li><i class="bx bxs-circle me-2"></i>Up-comming</li>
                    </ul>
                </div>
                <div class="pricing-horizontal-tag col-md-4 text-center pt-3 d-flex align-items-center">
                    <div class="w-100 light-300">
                        <p>INR 0/year</p>
                        <a href="#" class="btn rounded-pill px-4 btn-outline-primary mb-3">Enroll now</a>
                    </div>
                </div>
            </div>
            <!-- End Pricing Horizontal -->


      </div>



        </div>

    <!--End Pricing Horizontal Section-->




    </section>
    <!-- Start Footer -->
    {% endblock %}